body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(background.png);
  background: linear-gradient(90deg, rgb(100, 116, 139), rgb(254, 243, 199));
}



ul {
  list-style-type: none;
  margin: -20px;
  padding: 0;
  overflow: hidden;
  background-color:#7e06d7;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  text-align: center;
  padding: 40px;
  text-decoration: none;
}

li a:link {
  background-color: #7e06d7;
}

li a:hover {
  background-color: #a239e3;
}

li a:visited {
  color: #be9e44;
}

.logo {
  margin: -20px;
}

.products {
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  padding: 20px;
  margin:top: 30px;
  margin-bottom: 30px;
  width: 1000;
  background: linear-gradient(90deg, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
}

.spacing {
  margin: 20px;
}







/*body {
  background: linear-gradient(90deg, rgb(192, 132, 252), rgb(251, 191, 36));
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #be9e44;
  width: 100%;
  background-color: #835ae1;
  text-align: center;
}

.flex-container > div {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.flex-container > a:link {
  text-decoration: none;
}

.flex-container > a:hover {
  text-decoration: none;
}

.flex-container > a:visited {
  text-decoration: none;
}

.flex-container > a:active {
  text-decoration: none;
}


.products {
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  padding: 20px;
  margin-bottom: 30px;
  width: 60%
}

.products img {
  width: 400px;
}



a:link {
  text-decoration: none;
  color: #be9e44;
}

a:hover {
  text-shadow: 0 0 15px #490979;

  }

a:active {
  color: #be9e44;
}

a:visited {
  color: #be9e44;
}



.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(90deg, rgb(110, 231, 183), rgb(59, 130, 246), rgb(147, 51, 234));
}

.flex-container > div {
  margin: 10px;
  padding: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
}

.products {
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background:linear-gradient(90deg, rgb(110, 231, 183), rgb(59, 130, 246), rgb(147, 51, 234));
}

.header {
  color: white;
  padding: 70px;
  text-align: center;
  background-color: #7e06d7;
}
 */
