{% extends "layout.html" %}
{% block content %}
<div>Sort by:</div>
<ul class="spacing">
  <li><a href="{{ url_for('sortLow')}}">Price(low to high)</a></li>
  <li><a href="{{ url_for('sortHigh')}}"> Price(high to low)</a></li>
  <li><a href="{{ url_for('sortName')}}"> Name</a></li>
  <li><a href="{{url_for('home')}}"> Default</a></li>
</ul>
{% for product in products %}
<div class="products">
<p><a href="{{ url_for('product', product_id=product.id)}}"><img src="{{ url_for('static', filename='img/' + product.image_file) }}"></a>
</p>

<h2>{{product.name}}</h2>
<h3>£{{"{:.2f}".format(product.price)}}</h3>
{% if current_user.is_authenticated %}
  <p><a href="{{ url_for('updatebasket', user_id=current_user.id, product_id=product.id)}}">Add to basket</a></p>
  <p><a href="{{ url_for('updatewishlist', user_id=current_user.id, product_id=product.id, page='home')}}">Add to wishlist</a></p>
{% endif %}
</div>
{% endfor %}
{% endblock content %}
