<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel='stylesheet' type=text/css href="{{ url_for('static',
filename='style.css') }}">
<title>c21012049 CM1202 Spring Coursework</title>
</head>

<body>

<ul>
<li class="logo"><a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='img/KeysOfFavonius.png') }}", width="140"></a></li>

<li><a href="{{ url_for('home') }}" class="header">Home</a>&nbsp</li>

{% if current_user.is_authenticated %}

<li><a href="{{ url_for('logout') }}">Logout</a>&nbsp</li>

<li><a href="{{ url_for('basket', user_id=current_user.id) }}">Basket</a>&nbsp</li>

<li><a href="{{ url_for('wishlist', user_id=current_user.id) }}">Wishlist</a>&nbsp</li>

<li><a href="{{ url_for('checkout', user_id=current_user.id)}}">Checkout</a>&nbsp<li>

{% else %}

<li><a href="{{ url_for('login') }}">Login&nbsp;</a><li>
<li><a href="{{ url_for('register') }}">Register</a>&nbsp</li>

{% endif %}
</ul>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ulclass=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block content %}
{% endblock %}
</body>

<script>

function helpAlert1() {
  document.getElementById("help1").innerHTML="The 16 digits on the front of your card.";
}

function helpAlert2() {
  document.getElementById("help2").innerHTML="enter in the form mm/yy.";
}

function helpAlert3() {
  document.getElementById("help3").innerHTML="The three last digits on the back of your card.";
}

</script>

</html>
